/* Add this font definition at the top of your CSS file */
body, button {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 1rem;
}

.navbar a {
  color: #ff9900;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 700; /* Apply the bold font weight to navbar links */
}

.navbar a:hover {
  color: #007bff;
}

/* Header */
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header img {
  width: 100%;
  height: auto;
}

.header-buttons {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.header-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  margin: 0 0.5rem;
  font-weight: 700; /* Apply the bold font weight to header buttons */
}

.header-button:hover {
  background-color: #0056b3;
  color: #ffffff;
  text-decoration: none;
}

/* Headers (h1, h2, h3, h4, h5, h6) */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Apply the bold font weight to headers */
}
