/* Add this font definition at the top of your CSS file */
body, button {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar a {
  color: #ff9900;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 700;
}

.navbar a:hover {
  color: #00a7f4;
}

/* Header */
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header img {
  width: 100%;
  height: auto;
}

.header-buttons {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.header-button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  margin: 0 0.5rem;
  font-weight: 700;
}

.header-button:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Button color classes */
.header-button.color1 {
  background-color: #ff9900;
}

.header-button.color1:hover {
  background-color: #00a7f4;
}

.header-button.color2 {
  background-color: #f2cf43;
}

.header-button.color2:hover {
  background-color: #00a7f4;
}

.header-button.color3 {
  background-color: #ff5683;
}

.header-button.color3:hover {
  background-color: #00a7f4;
}
.header-button.color4 {
  background-color: #94db76;
}

.header-button.color4:hover {
  background-color: #00a7f4;
}
.header-button.color5 {
  background-color: #d78aea;
}

.header-button.color5:hover {
  background-color: #00a7f4;
}
/* Headers (h1, h2, h3, h4, h5, h6) */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
body {
  padding-top: 80px; /* Adjust this value depending on the height of your navbar */
}

.content-text, .content-image {
  grid-column: span 6;
}

.content-image {
  flex:1;
  max-width: 50%;
}

@media screen and (min-width: 1024px) {
  .content-section {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Hello! section */
#hello {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.hello-text, .project-text {
  margin-right: 2rem;
  flex: 1;
  max-width: 45%;
}

.content-image img {
  width: 100%;
  height: auto;
}

.hello-text h2 {
  color: #ff9900;
  margin-bottom: 1rem;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 100%;
}

/* Projects section */
#projects {
  padding: 2rem 0;
  overflow: hidden; /* add this to hide the white space on the left margin */
}

.projects-header {
  background-color: #00b3ac;
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.projects-header h2 {
  margin-bottom: 0.5rem;
}

.project-text h2 {
  color: #00b3ac;
  margin-bottom: 1rem;
  text-shadow: none;
  outline: none;
  font-weight: bold;
}

.project-text, .project-image {
  flex: 1;
  max-width: 50%;
  flex-basis: 45%;
}

.project-text {
  margin-right: 2rem;
}

/* Talent Section */
#talent {
  padding: 2rem 0;
  overflow: hidden; /* add this to hide the white space on the left margin */
}

.talent-header {
  background-color: #d78aea;
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.talent-header h2 {
  margin-bottom: 0.5rem;
}

.talent-text h2 {
  color: #d78aea;
  margin-bottom: 1rem;
  text-shadow: none;
  outline: none;
  font-weight: bold;
}

.talent-text, .talent-image {
  flex: 1;
  max-width: 50%;
  flex-basis: 45%;
}

.talent-text {
  margin-right: 0; /* remove the right margin to center the text */
}

/* TALENT SLIDER */
.slider-container {
margin: 0;
padding: 0;
width: 100%;
}
.slider {
position: relative;
height: 675px;
overflow: hidden;
width: 100%;
box-sizing: border-box;
}

.slick-list, .slick-track {
height: 100%;
}

.slide {
position: relative;
height: 675px;
}

.slide::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #d78aea;
opacity: 0.3; /* 30% opacity */
z-index: 1;
}

.slide img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

.slide-text {
position: absolute;
left: 1rem;
top: 50%;
transform: translateY(-50%);
color: #000000;
z-index: 1;
}

.slide-text h3 {
font-size: 1.5rem;
margin-bottom: 0.5rem;
}

.slide-text p {
font-size: 1rem;
}

/* Slider Navigation */
#talent .slick-dots {
position: static;
margin-top: 10px;
}

.slick-dots li {
display: inline-block;
margin: 0 5px;
}

.slick-dots button {
width: 10px;
height: 10px;
background-color: #bbb;
border-radius: 50%;
border: none;
outline: none;
cursor: pointer;
transition: background-color 0.3s;
}

.slick-dots li.slick-active button,
.slick-dots button:hover {
background-color: #d78aea;
}

